<manifest
    package="com.blue.leaves.common"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.vending.BILLING"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".adapter.AdapterMainActivity"/>
        <activity android:name=".adapter.common.CommonAdapterMainActivity"/>
        <activity android:name=".adapter.drag.DragExampleActivity"/>
        <activity android:name=".adapter.recyclerbindableadapter.RecyclerBinderMainActivity"/>
        <activity android:name=".adapter.recyclerbindableadapter.linear.LinearExampleActivity"/>
        <activity android:name=".adapter.recyclerbindableadapter.filter.FilterExampleActivity"/>
        <activity android:name=".adapter.recyclerbindableadapter.grid.GridExampleActivity"/>
        <activity android:name=".adapter.recyclerbindableadapter.parallax.ParallaxExampleActivity"/>
        <activity android:name=".adapter.recyclerbindableadapter.simple.SimpleExampleActivity"/>

        <activity android:name=".textview.TextViewMainActivity"/>
        <activity android:name=".textview.bubbleview.TextViewBubbleMainActivity"/>
        <activity android:name=".textview.chatmessageview.ChatMainActivity"/>
        <activity android:name=".textview.tagview.TagViewMainActivity"/>
        <activity android:name=".textview.trianglerectanglelabelview.TriangleRectangleMainActivity"/>
        <activity android:name=".textview.autofit.AutoFitActivity"/>
        <activity android:name=".textview.autoscale.AutoScaleMainActivity"/>
        <activity android:name=".textview.babushkatext.BabushkatextMainActivity"/>
        <activity android:name=".textview.bubbletextview.BubbleTextViewMainActivity"/>
        <activity android:name=".textview.codeinputlib.CodeInputMainActivity"/>
        <activity android:name=".textview.expandabletextview.ExpandableTextviewDemoActivity"/>
        <activity android:name=".textview.floatlabelededittext.FloatableEdittextMainActivity"/>
        <activity android:name=".textview.jumpingbeans.JumpingBeanMainActivity"/>
        <activity android:name=".textview.parkedtextview.ParkedMainActivity"/>
        <activity android:name=".textview.richeditor.RichEditorMainActivity"/>
        <activity android:name=".textview.shimmer.ShimmerMainActivity"/>
        <activity android:name=".textview.sizeadjustingtextview.SizeAdjustingMainActivity"/>
        <activity android:name=".textview.textdrawable.TextDrawableMainActivity"/>
        <activity android:name=".textview.titanic.TitanicMainActivity"/>
        <activity android:name=".textview.textdrawable.ListActivity"/>
        <activity android:name=".textview.tokenautocomplete.TokenActivity"/>

        <activity android:name=".animation.AnimationMainActivity"/>
        <activity android:name=".animation.flip.demo.FlipAsyncContentActivity"/>
        <activity android:name=".animation.flip.demo.FlipButtonActivity"/>
        <activity android:name=".animation.flip.demo.FlipComplexLayoutActivity"/>
        <activity android:name=".animation.flip.demo.FlipDeleteAdapterActivity"/>
        <activity android:name=".animation.flip.demo.FlipDynamicAdapterActivity"/>
        <activity android:name=".animation.flip.demo.FlipFragmentActivity"/>
        <activity android:name=".animation.flip.demo.FlipHorizontalLayoutActivity"/>
        <activity android:name=".animation.flip.demo.FlipMainActivity"/>
        <activity android:name=".animation.flip.demo.FlipTextViewActivity"/>
        <activity android:name=".animation.flip.demo.FlipTextViewAltActivity"/>
        <activity android:name=".animation.flip.demo.FlipTextViewXmlActivity"/>
        <activity android:name=".animation.flip.demo.FlipWebViewActivity"/>
        <activity android:name=".animation.flip.demo.Issue51Activity"/>
        <activity android:name=".animation.flip.demo.Issue5Activity"/>

        <activity android:name=".animation.listviewanimations.ListviewMainActivity"/>
        <activity android:name=".animation.listviewanimations.appearance.AppearanceExamplesActivity"/>
        <activity android:name=".animation.listviewanimations.googlecards.GoogleCardsActivity"/>
        <activity android:name=".animation.listviewanimations.itemmanipulation.ItemManipulationsExamplesActivity"/>
        <activity android:name=".animation.listviewanimations.itemmanipulation.DynamicListViewActivity"/>
        <activity android:name=".animation.listviewanimations.gridview.GridViewActivity"/>
        <activity android:name=".animation.listviewanimations.itemmanipulation.expandablelistitems.ExpandableListItemActivity"/>
        <activity android:name=".animation.listviewanimations.StickyListHeadersActivity"/>
        <activity android:name=".animation.base1.Base1AnimationActivity"/>
        <activity android:name=".animation.base1.ExampleActivity"/>
        <activity android:name=".animation.base2.BaseAnimation2Activity"/>

        <activity android:name=".animation.splash.ZakerActivity"/>
        <activity android:name=".animation.splash.splitActivity.Activity1"/>
        <activity android:name=".animation.splash.splitActivity.Activity2"/>
        <activity android:name=".animation.splash.splitActivity.Activity3"/>
        <activity android:name=".animation.splash.splitActivity.Activity4"/>
        <activity android:name=".animation.splash.fade.FadeSplashScreenActivity"/>
        <activity android:name=".animation.splash.fade.Fade2MainActivity"/>
        <activity android:name=".animation.splash.fade.FadeMainActivity"/>
        <activity android:name=".animation.splash.LensFocusActivity"/>
        <activity android:name=".animation.splash.Rotate3DActivity"/>
        <activity android:name=".animation.splash.RotateActivity"/>
        <activity android:name=".animation.splash.SplashMainActivity"/>
        <activity android:name=".animation.splash.ViewPagerActivity"/>

        <activity android:name=".animation.viewpager.ViewPagerMainActivity"/>
        <activity android:name=".animation.reachability.BackandHoverActivity"/>
        <activity android:name=".animation.reachability.CustomAnimationActivity"/>
        <activity android:name=".animation.reachability.DrawerActivity"/>
        <activity android:name=".animation.reachability.IPhoneMyActivity"/>

    </application>

</manifest>
